{% load staticfiles %}
<h1 class="page-header">{{pagetitle}}</h1>
<div id="jarv-content-url" class="hidden">{{content_url}}</div>


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>IP Range</th>
                <th>Building</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for range in ranges %}
            <tr id="{{range.id}}" description="{{range}}">
                <td>{{range.base}}/{{range.mask}}</td>
                <td>{{range.building}}</td>
                <td class="jarv-actions-cell">
                    <!-- Split button -->
                    <div class="btn-group jarv-split-button">
                    <button type="button" class="btn btn-primary btn-xs" onclick="jarv_get_content('/inventory/iprange/{{range.id}}/sweep/', 'Please Wait');">Sweep</button>
                        <button type="button" class="btn btn-primary btn-xs jarv-dropdown-overflow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu jarv-dropdown-menu">
                            <li><a href="admin/inventory/iprange/{{range.id}}/">Edit</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary btn-xs jarv-attach-droppable" style="display:none;" target_id="{{item.id}}" action_type="attach">
                        Attach Here
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
