<div class="modal fade" id="item-form-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content jarv-item-bg">
            <div class="modal-header jarv-form-title-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ title|default:'Form' }}</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-9"><p id="jarv-error-message" class="validateTips"></p></div>
                </div>
                
                <form id="jarv-item-form" action="{{submit_url}}">
                {% csrf_token %}
                    <div class="row jarv-show-grid">
                        <div class="col-xs-12 col-sm-4">
                            <div class="row">
                                <div class="col-xs-12">Type</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <!--<input type="text" name="itemType" id="itemType" value="{{item.itemType}}" class="text ui-widget-content ui-corner-all" />-->
                                  {% if user.is_superuser %}
                                    <div class="input-group">
                                  {% endif %}
                                      <select class="text form-control" id="itemType" name="itemType" selectedIndex=-1>
                                        <option selected disabled hidden value=''></option>
                                        {% for type in itemTypes %}  
                                          <option {% if type == item.itemType %}selected="selected"{% endif %} value="{{type.name}}">{{type}}</option>
                                        {% endfor %}
                                      </select>
                                  {% if user.is_superuser %}
                                      <span class="input-group-btn">
                                        <a target="_blank" href="/admin/inventory/type/add/" class="btn btn-success btn-sm btn-circle" type="button" id="addType" title="Add New Equipment Type"><span class="glyphicon glyphicon-plus"></span></a>
                                      </span>
                                    </div>
                                  {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="row">
                                <div class="col-xs-12">Manufacturer</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <!--<input type="text" name="manufacturer" id="manufacturer" value="{{item.manufacturer}}" class="text ui-widget-content ui-corner-all" />-->
                                  {% if user.is_superuser %}
                                    <div class="input-group">
                                  {% endif %}
                                    <select class="text form-control" id="manufacturer" name="manufacturer">
                                        <option selected disabled hidden value=''></option>
                                      {% for manufacturer in manufacturers %}  
                                        <option {% if manufacturer == item.manufacturer %}selected="selected"{% endif %} value="{{manufacturer.name}}">{{manufacturer}}</option>
                                      {% endfor %}
                                    </select>
                                  {% if user.is_superuser %}
                                      <span class="input-group-btn">
                                        <a target="_blank" href="/admin/inventory/manufacturer/add/" class="btn btn-success btn-sm btn-circle" type="button" id="addManufacturer" title="Add New Manufacturer"><span class="glyphicon glyphicon-plus"></span></a>
                                      </span>
                                    </div>
                                  {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="row">
                                <div class="col-xs-12">Model</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <!--<input type="text" name="model" id="model" value="{{item.model}}" class="text ui-widget-content ui-corner-all" />-->
                                  {% if user.is_superuser %}
                                    <div class="input-group">
                                  {% endif %}
                                    <select class="text form-control" id="model" name="model">
                                        <option selected disabled hidden value=''></option>
                                      {% for model in models %}  
                                        <option {% if model == item.model %}selected="selected"{% endif %} value="{{model.name}}">{{model}}</option>
                                      {% endfor %}
                                    </select>
                                  {% if user.is_superuser %}
                                      <span class="input-group-btn">
                                        <a target="_blank" href="/admin/inventory/model/add/" class="btn btn-success btn-sm btn-circle" type="button" id="addModel" title="Add New Model"><span class="glyphicon glyphicon-plus"></span></a>
                                      </span>
                                    </div>
                                  {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                <input type="hidden" name="id" id="id" value="{{item.id}}" />
                {% if room %}
                <input type="hidden" name="room" id="room" value="{{room.id}}" />
                {% elif item.room_id %}
                <input type="hidden" name="room" id="room" value="{{item.room_id}}" />
                {% else %}
                <input type="hidden" name="room" id="room" value="" />
                {% endif %}
                </form>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                Attributes
                                  {% if user.is_superuser %}
                                      <a target="_blank" href="/admin/inventory/attribute/add/" class="btn btn-success btn-circle btn-xs" type="button" id="addModel" title="Add New Attribute Key"><span class="glyphicon glyphicon-plus"></span></a>
                                  {% endif %}
                            </div>
                        </div>
                        <div id="jarv-edit-attribute-row" class="row jarv-edit-attribute-row">
                        {% for attr, value in item.attributes.items %}
                          {% include 'ajax_item_attribute_form.html' %}
                        {% endfor %}
                            <div id="jarv-add-attr-cell" class="col-xs-6 col-sm-4 jarv-show-grid" style="margin-top:5%">
                              <p class="text-center"><button type="button" id="jarv-add-attribute" class="btn btn-primary btn-sm">Add Attribute</button></p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="item-form-save" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
