{% load staticfiles %}
<h1 class="page-header">{{pagetitle}}
</h1>
<div id="jarv-content-url" class="hidden">{{content_url}}</div>


<div class="table-responsive">
<button type="button" class="btn btn-primary btn-xs jarv-superscript" onclick="jarv_get_content('/inventory/iprange/all/');">Back to IP Ranges</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Status</th>
                <th>Inventoried As</th>
                <th>IP Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ip, result in results.items %}
            <tr>
                <td>{% if result|last %}<span class="text-success glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="text-danger glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
                <td>{% if result.0 %}{{result.0}}{% endif %}</td>
                <td>{{ip}}</td>
                <td class="jarv-actions-cell">
                    <!-- Split button -->
                    <div class="btn-group jarv-split-button">
                        {% if result.0 %}
                        <button type="button" class="btn btn-primary btn-xs" onclick="jarv_show_details('/inventory/item/{{result.0.id}}/details/')">Details</button>
                        {% else %}
                        <button type="button" class="btn btn-primary btn-xs" onclick="jarv_item_form2('/inventory/item/add/')">Add New</button>
                        {% endif %}
                        {% if result|last %}
                        <button type="button" class="btn btn-primary btn-xs jarv-dropdown-overflow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu jarv-dropdown-menu">
                            <li><a href="http://{{ip}}" target="_blank">Open Web Page</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
