{% load staticfiles %}
<h1 class="page-header">{{pagetitle}}</h1>
<div id="jarv-content-url" class="hidden">{{content_url}}</div>


<h2 class="sub-header">{{locationinfo}}  <img class="jarv-action-icon" onclick="jarv_item_form2({% if room %}'/inventory/room/{{room.id}}/item/add/'{% else %}'/inventory/item/add/'{% endif %});" src="{% static 'img/add-icon.png' %}" />

</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.itemType_id}}</td>
                <td>{{item.manufacturer_id}}</td>
                <td>{{item.model_id}}</td>
                <td>{{item.age}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" onclick="jarv_item_form2('/inventory/item/{{item.id}}/edit/');">
                        Edit
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
