{% load staticfiles %}
<h1 class="page-header">{{pagetitle}}
    <button type="button" class="btn btn-primary btn-xs jarv-superscript" onclick="jarv_item_form2({% if room %}'/inventory/room/{{room.id}}/item/add/'{% else %}'/inventory/item/add/'{% endif %});">Add Item</button>
</h1>
<div id="jarv-content-url" class="hidden">{{content_url}}</div>


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th class="hidden-xs hidden-sm">Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            {% if not item.item_id %}
            <tr class="jarv-item-row{% if item.subItem.count > 0 %} jarv-parent-item{% endif %}" id="{{item.id}}" description="{{item}}">
                <td class="jarv-draggable-helper"><div class="jarv-draggable-handle pull-left"><img src="{% static 'img/dndhandle-icon.gif' %}" /></div>{{item.itemType_id}}</td>
                <td>{{item.manufacturer_id}}</td>
                <td>{{item.model_id}}</td>
                <td class="hidden-xs hidden-sm">{{item.age}}</td>
                <td class="jarv-actions-cell">
                    <!-- Split button -->
                    <div class="btn-group jarv-split-button">
                        <button type="button" class="btn btn-primary btn-xs" onclick="jarv_show_details('/inventory/item/{{item.id}}/details/')">Details</button>
                        <button type="button" class="btn btn-primary btn-xs jarv-dropdown-overflow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu jarv-dropdown-menu">
                            <li><a href="#" onclick="jarv_item_form2('/inventory/item/{{item.id}}/edit/');">Edit</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" onclick="jarv_archive_item('/inventory/item/{{item.id}}/archive/', '{{item.id}}');">Archive Item</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary btn-xs jarv-attach-droppable" style="display:none;" target_id="{{item.id}}" action_type="attach">
                        Attach Here
                    </button>
                </td>
            </tr>
            {% for subitem in item.activeSubItems %}
            <tr class="jarv-item-row jarv-subitem-row" id="{{subitem.id}}" parent_id="{{item.id}}" description="{{subitem}}">
                <td class="jarv-draggable-helper"><div class="jarv-draggable-handle pull-left"><img src="{% static 'img/dndhandle-icon.gif' %}" /></div>{{subitem.itemType_id}}</td>
                <td>{{subitem.manufacturer_id}}</td>
                <td>{{subitem.model_id}}</td>
                <td class="hidden-xs hidden-sm">{{subitem.age}}</td>
                <td class="jarv-actions-cell">
                    <!--<button type="button" class="btn btn-primary btn-xs" onclick="jarv_item_form2('/inventory/item/{{subitem.id}}/edit/');">
                        Edit
                    </button>-->
                    <!-- Split button -->
                    <div class="btn-group jarv-split-button">
                        <button type="button" class="btn btn-primary btn-xs" onclick="jarv_show_details('/inventory/item/{{subitem.id}}/details/')">Details</button>
                        <button type="button" class="btn btn-primary btn-xs jarv-dropdown-overflow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu jarv-dropdown-menu">
                            <li><a href="#" onclick="jarv_item_form2('/inventory/item/{{subitem.id}}/edit/');">Edit</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" onclick="jarv_archive_item('/inventory/item/{{subitem.id}}/archive/', '{{subitem.id}}');">Archive Item</a></li>
                        </ul>
                    </div>

                </td>
            </tr>
            {% endfor %}
            {% endif %}
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No Items Found{% if not disable_add %}, Add Item 
                    <button type="button" class="btn btn-primary btn-circle" onclick="jarv_item_form2('/inventory/room/{{room.id}}/item/add/')"><span class="glyphicon glyphicon-plus"></span></button>{% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
