{% block sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
  <h4>Links</h4>
  <ul class="nav nav-sidebar">
	 <li class="active"><a href="#">Overview</a></li>
	 <li><a href="#">Reports</a></li>
	 <li><a href="#">Analytics</a></li>
	 <li><a href="#">Export</a></li>
  </ul>
  <hr />
  <h4>Buildings</h4>
  <ul class="nav nav-sidebar">
	 {% for building in buildings %}
		<li><a href="/building/{{ building.abbrev }}/">{{ building.name }}</a></li>
	 {% endfor %}
  </ul>
  <hr />
  <h4>Buildings</h4>
  <div id="jqui-accordion">
  {% for building in buildings %}
	 <h3 class="building-list-item"><a href="">{{ building.name }}</a></h3>
	 <div>
		{% for room in building.rooms %}
		  <a href="/room/{{ room.pk }}/">{{room.number}}</a>
		{% endfor %}
	 </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
