{% block sidebar %}
<button type="button" class="btn-circle btn sidebar-show jarv-ui-blue" onclick="$('.jarv-sidebar').toggleClass('jarv-sidebar-visible');$('.jarv-sidebar-visible').click($(this).removeClass('jarv-sidebar-visible'));">
    <span class="sr-only">Toggle Sidebar</span>
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</button>

<div class="col-xs-12 col-sm-2 col-md-2 jarv-sidebar">

    <h4 id="jarv-sidebar-links">Links</h4>
    <ul class="nav nav-sidebar">
        <li class="jarv-sidebar-nav active"><a href="/">Inventory</a></li>
        <li class="jarv-sidebar-nav"><a href="admin/">Admin</a></li>
    </ul>
    <hr />


    <h4>Buildings</h4>
    <ul id="jarv-building-list" class="nav nav-sidebar">
        <li id="jarv-sidebar-warehouse" class="jarv-sidebar-building active">
            <a onclick="jarv_get_content('/inventory/item/all/');" href="#">Warehouse</a>
            <ul class="nav nav-sidebar collapse in"></ul>
        </li>
        {% for building in buildings %}
        <li class="jarv-sidebar-building">
            <a href="#" class="jarv-hover-expand">{{ building.name }}</a>
            <ul id="jarv-room-list-{{building.pk}}" class="nav nav-sidebar collapse" style="height:0px;">
                {% for room in building.room_set.all %}
                
                <li class="jarv-sidebar-room" id="{{room.pk}}" description="{{room}}"><a onclick="jarv_get_content('/inventory/room/{{room.pk}}/item/all/');" href="#">{{room.number}}</a></li>
                
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    
</div>
{% endblock %}
